PORT=3007
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/tu_base_datos?schema=public"
JWT_SECRET="tu_jwt_secret_personalizado"
JWT_EXPIRES_IN="7d"
process.env.CORS_ORIGIN="http://localhost:3000"
COOKIE_SECURE=false
